* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: white;
}

body {
  background-image: url("https://4.bp.blogspot.com/-9G_y_vAZ1rE/UzByy2LFAFI/AAAAAAAAteY/nen4du0N8Ec/s0/Youtube_HD.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

/*-----Navigatie balk-----*/

header {
  width: 100%;
  height: 80px;
  background-image: url("https://www.soccerbbc.com/wp-content/uploads/2017/04/cyborg-youtube-banner-on-behance-within-youtube-banner-background.jpg");
  background-size: contain;
  position: fixed;
}

.button {
  background-color: inherit;
  border: none;
  color: #b10500;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
}

/* ----- Content ----- */

main {
  padding-top: 90px;
}

.item {
  margin-top: 3%;
}

h2 {
  font-size: 20px;
  text-align: center;
}

main iframe {
  width: 80%;
  margin: 1% 10% 1% 10%;
}
